.bs-example{
    background-color: gray;
    
}
h1{
    text-align: center;
}
article{
    background-color: gray;
    margin: 15px;
}
h2{
    text-align: center;
}
#navbarCollapse{
    text-align: center;
    font-weight: bold;
}
@media (min-width: 660){
    #navbarCollapse{
        display: none;

    }
}
